 h1 {
                color: blue ; background-color: rgb(255, 217, 0);
                border:5px solid black;
                /* margin-bottom: 100px;
                margin-right: 100px;
                margin-left: 100px; */
                margin: 50px;
                padding: 50px;
                width: 500px;
                height:5px;
                font-family: cursive;
            }


#a {
    background-color: aquamarine;
}

.bg-green {
    background-color: green;
}

.text-center {
    text-align: center;
}